git+http://github.com/DeejayRevok/news-service-lib.git@develop#egg=news-service-lib
celery
elastic-apm
requests==2.23.0
xmltodict==0.12.0
pylint-fail-under==0.3.0
coverage==5.0.3
psutil==5.7.0
python-logstash==0.4.6
bs4==0.0.1
lxml==4.6.3
pika==1.1.0
dynaconf
elastic-apm==6.0.0